<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NSS IIT TIRUPATI</title>
</head>
<body>
    <h1>
        Home Page. <br>
        The data we got from controller : <%= name %> <br>
        This is the image from public file : 
        <img src="/iittpLogo.png" alt="IITTP LOGO">
    </h1>
</body>
</html>